// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert-success {
	background-color: #2ECC71;
	border-radius: 0px;
	color: #ECF0F1;
}

.alert-error {
	background-color: #E74C3C;
	border-radius: 0px;
	color: #ECF0F1;
}

.member-block {
	border-top: 1px solid #95A5A6;
	border-bottom: 1px solid #95A5A6;
	padding: 10px;
	margin-bottom: 30px;
}

.error {
	color: #E74C3C;
}

