= page_title("Admin")

%div.row-fluid
	%div.span12
		= link_to "Go back", members_path, class:"btn btn-large btn-primary"

%div.row-fluid
	%div.span6
		%div#projects_chart
	%div.span6
		%div#skills_chart